.grid-row,
.grid-col {
    display: grid;
}
.grid{
    display: grid;
}

.grid-col {
    grid-auto-flow: column;
}
.grid-row {
    grid-auto-flow: row;
}
.center{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.flex{
    display: flex;
}