.notice {
    align-items: center;

}

.notice {
    display: grid;
    grid-auto-columns: 100%;
}

.notice-items {
    justify-content: space-between;
}

.notice-item{
    gap: 10px;
    padding: 5px 10px;
}