.pagination {
    padding: 10px;
    grid-auto-columns: max-content;
    justify-content: center;
    gap: 100px;
}

.pagination button {
    /* display: grid; */
    align-items: center;
    width: 10em;
    padding: 10px;
}

.pagination span {
    border-radius: 30px;
    background: var(--primary-color);
    color: white;
}
.index{
    color: white;
    font-size: 1.3em;
}